@use '../../../abstracts/mixins' as *;

.footer {
  padding-top: 4.8rem;
  padding-bottom: 4.8rem;
  border-top: 1px solid;
  font-size: 1.2rem;
  @include color-mix-bg(var(--color-white), 70%);
  border-color: color-mix(in oklab, var(--color-black) 5%, transparent);

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @include media('md') {
    font-size: 1.4rem;
    flex-direction: row;
    justify-content: space-between;
  }

  @include media('xs') { row-gap: 2.4rem }
}

.footer > .copyright {
  display: flex;
  gap: 2.4rem;
  font-weight: 700;
  letter-spacing: 1.2px;
  text-transform: uppercase;
  color: var(--color-zinc-400);
}

.footer > .back-to-top {
  font-weight: 700;
  letter-spacing: 1.2px;
  display: flex;
  align-items: center;
  gap: .8rem;
  color: var(--color-zinc-400);
}