@use '../../../abstracts/mixins' as *;

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 20;
  padding: 2rem 0;
  transition:
    background .25s ease,
    border-color .25s ease,
    transform .25s ease,
    padding .25s ease;
  border: 1px solid;
  font-size: 1.4rem;
  margin-bottom: 4rem;
  border-color: color-mix(in oklab, var(--color-black) 5%, transparent);
  backdrop-filter: blur(20px);
  background: rgba(255,255,255,.7);

  &:not(.on-top) {
    padding: 1.2rem 0;

    > .container .logo {
      width: 4.2rem;
      height: 4.2rem;
      font-size: 1.8rem;
    }
  }

  > .container {
    display: flex;
    justify-content: space-between;
  }

  > .container .logo-section {
    display: flex;
    align-items: center;
  }

  > .container .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.8rem;
    height: 4.8rem;
    font-size: 2rem;
    border-radius: .8rem;
    color: var(--color-white);
    font-family: var(--font-logo);
    transition: all .25s ease;
    background-color: var(--color-brand-primary);
  }

  > .container .open-mobile {
    width: 2.4rem;
    height: 2.4rem;
    margin-left: 1.6rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    @include media('xs') {
      opacity: 1;
      visibility: visible;
    }

    .line {
      width: 100%;
      height: 2px;

      position: absolute;

      background-color: var(--color-black);

      transition:
        transform 0.3s ease,
        opacity 0.3s ease;

      &:nth-child(1) {
        transform: translateY(-8px);
      }

      &:nth-child(2) {
        transform: translateY(0);
      }

      &:nth-child(3) {
        transform: translateY(8px);
      }
    }

    &.-active {
      .line {
        &:nth-child(1) {
          transform: rotate(45deg);
        }

        &:nth-child(2) {
          opacity: 0;
        }

        &:nth-child(3) {
          transform: rotate(-45deg);
        }
      }
    }
  }

  > .container .menu {
    display: flex;
    gap: 3.2rem;
    font-weight: 500;
    align-items: center;
    color: var(--gray-3);

    .menu-item:hover {
      color: var(--color-black);
      transition: var(--transition);
    }
    
    @include media('xs') {
      width: 100%;
      padding: 2.4rem 5%;
      flex-direction: column;
      align-items: flex-start;
      position: absolute;
      gap: 1.6rem;
      left: 0;
      top: calc(100%);

      opacity: 0;
      visibility: hidden;
      pointer-events: none;
      transform: translateY(-10px);
      background-color: var(--color-white);

      transition:
        opacity .3s ease,
        transform .3s ease,
        visibility .3s ease;

      &.-open {
        opacity: 1;
        visibility: visible;
        pointer-events: all;
        transform: translateY(0);
      }

      .menu-item {
        width: 100%;
        font-weight: 700;
        font-size: 2.4rem;
        padding-bottom: 1.6rem;
        color: var(--color-zinc-900);
        border-bottom: 1px solid;
        border-color: color-mix(in oklab, var(--color-black) 5%, transparent);
      }
    }
  }

  > .container .actions {
    display: flex;
    gap: .8rem;
    font-size: 1.2rem;
    align-items: center;

    .action {
      padding: 1rem 1.2rem;
      border-radius: var(--radius-round);
      border: 1px solid;
      display: flex;
      align-items: center;
      gap: .6rem;
      transition: var(--transition);

      &.-lang {
        color: var(--gray-3);
        border-color: var(--color-border);

        &:hover {
          background-color: var(--color-surface-muted);
        }
      }


      &.-resume {
        font-weight: 600;
        color: var(--color-white);
        background-color: var(--color-brand-primary);

        &:hover {
          opacity: .8;
        }
      }
    }
  }
}