@use '../../../abstracts/mixins' as *;

.experience > .jobs {
  display: flex;
  gap: 3.2rem;
  align-items: center;
  flex-direction: column;

  @include media("md") {  flex-direction: row; gap: 1.6rem }

  .job-tabs {
    display: flex;
    gap: 2rem;
    width: 100%;
    justify-content: space-around;

    @include media("md") {flex-direction: column; width: fit-content }

    > .job-tab {
      font-weight: 600;
      padding: 0 0 .8rem;
      cursor: pointer;
      position: relative;
      transition: .2s ease;
      border-bottom: 3px solid transparent;

      @include media("md") {
        padding: 0 .8rem;
        min-width: 10rem;
        border-bottom: none;
        border-left: 3px solid transparent;
      }

      &:hover {
        color: var(--color-drac-purple);
      }

      &.-active {
        color: var(--color-drac-purple);
        border-color: var(--color-drac-purple);
      }
    }
  }

  .job-content {
    flex: 1;
    width: 100%;
    position: relative;
  }

  .job {
    @include card-style;
    padding: 3.2rem;
    gap: 3.2rem;
    border-radius: 2.4rem;
    align-items: center;
    grid-template-columns: repeat(1, 1fr);

    display: none;
    opacity: 0;
    pointer-events: none;
    inset: 0;
    transition: transform .4s ease;

    @include media("md") {
      min-height: 24rem;
      grid-template-columns: 1fr 2fr;
    }

    &.-active {
      display: grid;
      opacity: 1;
      pointer-events: auto;
    }

    &:hover { transform: translateY(-5px) }
    &:hover .bullets .bullet:before { opacity: 1 }
  }

  .period {
    font-size: 1.2rem;
    line-height: 16px;
    font-weight: 700;
    letter-spacing: 1.2px;
    margin-bottom: 1.6rem;
    text-transform: uppercase;
  }

  .company {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 32px;
    margin-bottom: .4rem;
    color: var(--color-zinc-900);
  }

  .role {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 24px;
    margin-bottom: 1.6rem;
    color: var(--color-zinc-500);
  }

  .tags {
    display: flex;
    gap: .8rem;
    flex-wrap: wrap;

    .tag {
      font-size: 1rem;
      font-weight: 500;
      line-height: 15px;
      height: fit-content;
      padding: .2rem .8rem;
      border: 1px solid;
      border-radius: .4rem;
      color: var(--color-zinc-500);
      transition: var(--transition);
      background-color: var(--color-zinc-100);
      border-color: color-mix(in oklab, var(--color-black) 5%, transparent);

      &:hover {
        color: var(--color-zinc-900);
        border-color: color-mix(in oklab, var(--color-black) 20%, transparent);
      }
    }
  }

  .bullets {
    display: flex;
    gap: 1.2rem;
    flex-direction: column;
  }

  .bullets .bullet {
    display: flex;
    gap: .8rem;
    margin-bottom: 0;
    align-items: center;

    font-size: 1.4rem;
    line-height: 22px;
    color: var(--color-zinc-600);

    &:before {
      content: '';
      display: block;
      width: .6rem;
      height: .6rem;
      min-width: .6rem;
      opacity: .5;
      border-radius: 100%;
      transition: var(--transition);
      background-color: var(--color-drac-purple);
    }
  }
}