@use '../abstracts/mixins' as *;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&family=Outfit:wght@400;500;600;700&family=JetBrains+Mono:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

.lucide {
  width: 1.4rem;
  height: 1.4rem;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: calc(1368px + 10%);
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;

  @include media('xs') { padding-left: 2.4rem; padding-right: 2.4rem }
}

.section {
  margin-bottom: 16rem;
}

.color-drac-purple { color: var(--color-drac-purple) }
.color-drac-cyan { color: var(--color-drac-cyan) }
.color-drac-pink { color: var(--color-drac-pink) }

.btn {
  font-weight: 600;
  display: flex;
  gap: .6rem;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 1rem 1.2rem;
  border-radius: var(--radius-round);
  color: var(--color-white);
  background-color: var(--color-black);
  transition: var(--transition);
  font-size: var(--font-size-base);

  &:hover { opacity: .8 }

  &.-white {
    border: 1px solid var(--gray-2);
    color: var(--color-black);
    background-color: var(--color-white);

    &:hover {
      opacity: 1;
      background-color: var(--gray-1);
    }
  }
}

.-hidden { display: none !important }
.-hidden-desktop {
  @include media('md') { display: none !important }
}
.-hidden-mobile {
  @include media('xs') { display: none !important }
}

html {
  color: var(--font-color-base);
  font-size: 62.5%; // 1rem = 10px
  line-height: var(--line-height);
}

body {
  font-size: var(--font-size-base) !important;
  font-family: var(--font-sans) !important;
  font-weight: var(--font-weight-base) !important;
  background-color: var(--color-background);
  padding-top: 15rem;

  overflow-x: hidden;
}

// Configurações da Barra de Scroll
::-webkit-scrollbar {
  width: 0.4rem;
}
::-webkit-scrollbar-track {
  background: var(--gray-1);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

main {
  min-height: 50vh;
}

a {
  color: currentColor;
  text-decoration: none;
}

a,
button,
input,
textarea {
  border: 0;
  border-radius: 0;
  padding: 0;
  -webkit-appearance: none;

  &:focus {
    outline: none;
  }
}

.input,
.textarea {
  padding: 1.6rem;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 2.4rem;
  @include card-style;
  color: var(--color-zinc-900);
  background-color: var(--color-white);

  &::placeholder {
    color: var(--color-zinc-400);
  }

  &:focus {
    border-color: color-mix(in oklab, var(--color-drac-purple) 30%, transparent);
  }
}

::selection {
  color: var(--color-white);
  background-color: var(--color-black);
}

img {
  display: block;
  max-width: 100%;
}