:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-logo: "Audiowide", sans-serif;

  --color-background: #fafdff;
  --color-surface: #ffffff;
  --color-surface-muted: #f4f4f5;
  --color-border: #e4e4e7;
  
  --color-brand-primary: #18181b;
  --color-brand-secondary: #71717a;

  --gray-1: #f9f9f9;
  --gray-2: #c3c3c3;
  --gray-3: #52525c;
  --gray-4: #363636;

  --color-black: #000;
  --color-white: #fff;

  // Dracula colors
  --color-drac-purple: #7c3aed;
  --color-drac-cyan: #0891b2;
  --color-drac-pink: #db2777;

  --transition: all .4s ease;

  // Fonts
  --font-size-small: 1.2rem;
  --font-size-base: 1.4rem;
  --font-size-medium: 1.6rem;
  --font-size-big: 1.8rem;

  --font-size-title: 2.8rem;
  --font-weight-title: 700;

  --font-size-subtitle: 2.4rem;
  --font-weight-subtitle: 600;

  --font-size-button: 1.6rem;
  --font-weight-button: 700;

  --radius-round: 999px;
}