:root {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-display: "Outfit", sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  --font-logo: "Audiowide", sans-serif;

  --color-background: #fafdff;
  --color-surface: #ffffff;
  --color-surface-muted: #f4f4f5;
  --color-border: #e4e4e7;
  
  --color-brand-primary: #18181b;
  --color-brand-secondary: #71717a;

  --gray-1: #f9f9f9;
  --gray-2: #c3c3c3;
  --gray-3: #52525c;
  --gray-4: #363636;

  --color-zinc-100: oklch(96.7% 0.001 286.375);
  --color-zinc-200: oklch(92% 0.004 286.32);
  --color-zinc-300: oklch(87.1% 0.006 286.286);
  --color-zinc-400: oklch(70.5% 0.015 286.067);
  --color-zinc-500: oklch(55.2% 0.016 285.938);
  --color-zinc-600: oklch(44.2% 0.017 285.786);
  --color-zinc-700: oklch(37% 0.013 285.805);
  --color-zinc-800: oklch(27.4% 0.006 286.033);
  --color-zinc-900: oklch(21% 0.006 285.885);
  --color-zinc-950: oklch(14.1% 0.005 285.823);

  --color-black: #000;
  --color-white: #fff;

  // Dracula colors
  --color-drac-purple: #7c3aed;
  --color-drac-cyan: #0891b2;
  --color-drac-pink: #db2777;

  --transition: all .4s ease;

  // Fonts
  --font-size-small: 1.2rem;
  --font-size-base: 1.4rem;
  --font-size-medium: 1.6rem;
  --font-size-big: 1.8rem;

  --font-size-title: 2.8rem;
  --font-weight-title: 700;

  --font-size-subtitle: 2.4rem;
  --font-weight-subtitle: 600;

  --font-size-button: 1.6rem;
  --font-weight-button: 700;

  --radius-round: 999px;
}